.gridItem {
  border-radius: 5px;
  margin: 5px;
}

.gridItem:focus {
  outline: none;
  border: 2px solid #4a9af5;
}

.containerImg {
  margin-bottom: 15px;
}

.imgItem {
  width: 100%;
  pointer-events: none;
  height: 380px;
  object-fit: cover;
  display: block;
}

.gridItemInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  span {
    display: block;
    padding: 5px 0;
  }
}

.gridItemExtra {
  display: flex;

  input {
    margin-right: 15px;
    width: 100px;
  }
}

.titlePosition {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
